* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

nav {
  background: lightblue;
  overflow: auto;
  margin: 0 0 2rem 0;
}

.nav_title {
  color: white;
  float: left;
  margin-left: 0.5rem;
}

.nav_bar {
  color: white;
  float: right;
  margin-right: 3rem;
}

.container {
  margin: 0 auto;
  max-width: 65rem;
}

.main {}

.box {
  height: 100vh;
  overflow: auto;
}

.box_individual {
  border: 0.1em solid grey;
  display: inline-block;
  width: calc(100%/3 - 1rem - 1rem);
  overflow: auto;
  box-shadow: 0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.4);
  margin: 0.5rem;
}

.top {
  text-align: left;
  display: block;
  overflow: auto;
  border: 0.1rem solid grey;
  padding: 1rem;
  margin: 0;
}

.photo {
  float: left;
  height: 6rem;
  width: 6rem;
}

.bottom_boxes {
  border: 0.1rem solid grey;
  display: block;
  overflow: auto;
  padding: 0.1rem;
}

img {
  height: 20%;
}

.frame {
  float: left;
}

.lang {
  float: right;
}

.circle {
  background: red;
  width: 0.5rem;
  height: 0.5rem;
  float: right;
  border-radius: 50%;
  position: relative;
  right: 2rem;
  top: 1.3rem;
}
