* {
  box-sizing: border-box;
}

nav {
  background: lightblue;
  overflow: auto;
  height: 10vh;
  border-radius: 7%;
  margin: 2rem 2rem;
}

.nav_title {
  color: white;
  float: left;
  padding-left: 5rem;
}

.nav_bar {
  color: white;
  float: right;
  padding-right: 5rem;
}

.box {
  background: green;
  height: 70vh;
}

.box_individual {
  background: yellow;
  border: 0.1em solid black;
  display: block;
  height: 35vh;
  width: calc {
    100%/2- 1rem- 1rem
  }
  ;
}

.top {
  text-align: left;
  display: block;
  overflow: auto;
}

.photo {
  float: left;
}

//*.top.name{
display:;

}
* //
.middle {}
.bottom {}
img {
  height: 20vh;
}
